div.slide-pane__content {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 60px;
  color: $light;
  background-color: $accent;
  padding-top: 10px;
}

.details-body {
  font-family: 'AvenirNextRegular';
  padding: 16px 12px 16px 12px;

  p {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
  }
}

.card {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 180px;
  width: 100%;
  color: $light;
  text-shadow: 0.7px 0.5px rgb(54, 29, 29);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.name,
.category {
  margin-bottom: 6px;
  margin-left: 12px;
}

.name {
  font-family: 'AvenirNextDemi';
  font-size: 16px;
}

.category {
  font-family: 'AvenirNextRegular';
  font-size: 12px;
}

button:hover,
button:focus-visible {
  border: none;
  opacity: 0.7;
}

button:active {
  border-width: 1px;
  border-style: inset;
  border-color: rgba(124, 111, 111, 0.707);
  opacity: 0.5;
  background-size: 99%;
}