// FONTS

@font-face {
  font-family: 'AvenirNext';
  src: url('../assets/fonts/AvenirNext.ttf') format('truetype'),
}

@font-face {
  font-family: 'AvenirNextBold';
  font-weight: bold;
  src: url('../assets/fonts/AvenirNext.ttf') format('truetype'),
}

// COLORS

$light: #FFFFFF;
$dark: #2A2A2A;
$header: #43E895;
$accent: #34B379;

// MIXINS

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}