// FONTS

@font-face {
  font-family: 'AvenirNextRegular';
  src: url('../assets/fonts/AvenirNext/AvenirNextLTPro-Regular.otf') format('opentype'),
}

@font-face {
  font-family: 'AvenirNextDemi';
  src: url('../assets/fonts/AvenirNext/AvenirNextLTPro-Demi.otf') format('opentype'),
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url('../assets/fonts/AvenirNext/AvenirNextLTPro-Bold.otf') format('opentype'),
}

// COLORS

$light: #FFFFFF;
$dark: #2A2A2A;
$header: #43E895;
$accent: #34B379;

// MIXINS

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}