.map-section {
  display: flex;
  flex-direction: column;
  height: 180px;
  margin-top: 35px;
  position: relative;
}

.map-container {
  height: 400px;
}

.mapboxgl-canvas {
  height: 180px;
}

.marker {
  background-image: url('../../assets/cuts/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
  padding: 20px;
  z-index: 10000;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'AvenirDemi';
}

@media (min-width: 767px) {
  .map-section {
    height: 370px;
    margin-top: 100px;
  }

  .map-container {
    height: 370px;
  }
}

@media (min-width: 1279px) {
  .map-section {
    height: 400px;
    margin-top: 60px;
  }

  .map-container {
    height: 600px;
  }
}