.map-section {
  display: flex;
  flex-direction: column;
  height: 180px;
  margin-top: 70px;
  position: relative;
}

.map-container {
  height: 400px;
}

.mapboxgl-canvas {
  height: 180px;
}

.marker {
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-marker-anchor-bottom {
  z-index: 10000;
}

.mapboxgl-popup {
  z-index: 10000;
}

.mapboxgl-popup-content {
  text-align: center;

  h3 {
    font-family: 'AvenirNextDemi';
    font-size: 20px;
    margin: 5px;
  }

  p {
    font-family: 'AvenirNextRegular';
    font-size: 15px;
  }
}

@media (min-width: 413px) {
  .map-section {
    height: 270px;
    margin-top: 90px;
  }

  .map-container {
    height: 270px;
  }
}

@media (min-width: 767px) {
  .map-section {
    height: 550px;
    margin-top: 120px;
  }

  .map-container {
    height: 550px;
  }
}

@media (min-width: 1023px) {
  .map-section {
    height: 400px;
    margin-top: 100px;
    margin-bottom: 0;
  }

  .map-container {
    height: 400px;
  }
}