.app-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80px;
  width: 100%;
  color: $light;
  background-color: $header;

  h1 {
    font-family: 'AvenirNextDemi';
    font-size: 17px;
    margin-bottom: 16px;
  }
}

.slide-pane {
  all: unset;
}